
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--IconScout Icons Link-->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/changePassword.css}">
    <title>Change Password</title>
</head>
<body>
 <!-- ===========NAVBAR=========== -->
 <nav>
    <div class="container_2 nav_container">
        <span class="logo_text">Rockmart</span>
         <div class="logo">
            <a><img th:src="@{/img/rock_logo.jpg}" alt="logo" src=""></a>
        </div>
    </div>
</nav>
<!-- ===========NAVBAR=========== -->


<section class="loginRegister_form container">
    <div class="form_wrapper">
        <div class="sign_logo"><i class="uil uil-user"></i></div>
        <h1 class="changePassword_header">Change your password to proceed</h1>
        <form th:action="@{/user/login/ps_first}" method="post" class="form_contents">
            <div class="account_form_wrapper">
                <!-- Hidden input for username -->
                <input type="hidden" name="username" th:value="${param.username}" />
                <!-- Hidden input for username -->
                <div th:if ="${param.error}">
                    <p class="alert_info_danger">Oops, something went wrong!!</p>
                </div> 
                <div class="password_form_group">
                    <label for="new_password">New Password: </label>
                    <div class="passwords_wrapper">
                        <input type="password" name="new_password" id="new_password" required>
                        <span class="password_hint">Password must be at least 8 characters</span>
                        <span class="toggle_password_icon" id="new_password_toggle"><i class="uil uil-eye-slash"></i></span>
                    </div>
                </div>

                <div class="password_form_group">
                    <label for="confirm_password">Confirm Password: </label>
                    <div class="passwords_wrapper">
                        <input type="password" name="confirm_password" id="confirm_password" required>
                        <span class="password_mismatch">Password does not match</span>
                        <span class="toggle_password_icon" id="confirm_password_toggle"><i class="uil uil-eye-slash"></i></span>
                    </div>
                </div>
            </div>
            <button class="btn_changePassword btn btn_primary">Reset password</button>
        </form>
    </div>
</section>
<script src="/" th:src="@{/script/changePassword.js}"></script>
</body>
</html>